# More information: https://github.com/HaaLeo/publish-vscode-extension

name: Publish Extension

on:
  push:
    tags:
      - "v*"

env:
  IS_PRE_RELEASE: ${{ endsWith(github.ref_name, 'pre-release') }}

jobs:
  publish:
    name: Publish Extension
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 16
      - run: npm ci
      - name: Publish to Visual Studio Marketplace
        id: publishToVSM
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
          registryUrl: https://marketplace.visualstudio.com
          preRelease: ${{ env.IS_PRE_RELEASE }}
      - name: Publish to Open VSX Registry
        if: ${{ ! fromJSON(env.IS_PRE_RELEASE) }}
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.OVSX_TOKEN }}
          registryUrl: https://open-vsx.org
          extensionFile: ${{ steps.publishToVSM.outputs.vsixPath }}
      - name: Create draft GitHub Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          preRelease: ${{ env.IS_PRE_RELEASE }}
          generateReleaseNotes: true
          artifacts: "${{ steps.publishToVSM.outputs.vsixPath }}"
